body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-appear,
  .slide-enter {
    z-index:1;
    opacity: 0.9;
    transform: translate3d(0, 100%, 0);
  }
  
  .slide-appear-active,
  .slide-enter.slide-enter-active {
    opacity: 1;
    transform: translate3d(0, 0,0);
    transition: all 1000ms;
  }
  
  .slide-exit {
    opacity: 0;
    transform: translate3d(0,0,0);

  }
  
  .slide-exit.slide-exit-active {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
